/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 16, 2022, 11:20:36 AM
    Author     : x3me9
*/

 @font-face { font-family: Lemon Milk; src: url('ImagesFolder/LEMONMILK-Regular.oft'); }
            
div[name="title"] {
 font-family: Lemon Milk;
}
h1[name="date"] {
 font-family: Lemon Milk;
}

div [name="instructions"]{
   background: rgb(255, 255, 255); /* The Fallback */
   background: rgba(255, 255, 255, 0.7); 
}



body {
  background-image: url('ImagesFolder/BackgroundOfficial.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}



#hider {
    height: 20px;
}
